<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>  
    <header>
        <h1>Automatic Plant Watering Device</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/live">Live Data</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <h2>Vacation Buddy</h2>
        <p>
            Welcome to Vacation Buddy: Your Ultimate Plant Care Companion<br><br>
            In today’s fast-paced world, finding time to care for our plants can be challenging, especially when we’re away on vacation or busy with other commitments. That’s where Vacation Buddy comes in—a cutting-edge automatic plant watering system designed to ensure your plants receive the perfect amount of water, no matter where you are.<br><br>
            
            <strong>What is Vacation Buddy?</strong><br>
            Vacation Buddy is a sophisticated yet user-friendly system that combines web development, Arduino technology, and sensor integration to automate plant care. Our goal is to provide a seamless solution that keeps your plants hydrated, healthy, and thriving, even when you’re not around. By integrating advanced sensors with a custom-built website, Vacation Buddy offers a smart and efficient way to manage your plant’s watering needs.<br><br>
            
            <strong>Why Choose Vacation Buddy?</strong><br>
            1. <strong>Stress-Free Plant Care</strong>: Enjoy your vacations or busy schedule without worrying about your plants. Vacation Buddy takes care of watering them, so you can focus on other important things.<br>
            2. <strong>Precision and Efficiency</strong>: Our system uses advanced sensors and algorithms to deliver the exact amount of water your plants need. This precision prevents water waste and promotes healthier plant growth.<br>
            <br>

            Welcome to the future of plant care. Welcome to Vacation Buddy.
        </p> 
    </section>
</body>
</html>
