<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Automatic Plant Watering Device</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/live">Live Data</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </nav>
    </header>

    <section id="team">
        <h2>Meet the Team</h2>
        Arduino Team
        <ul>
            <li>Tanisha Sharma B24408</li>
            <li>Neha Vinjamuri B24494</li>
            <li>Divya Singh B24429</li>
            <li>Shruti Sharma B24222</li>
        </ul>
        <br>
        Website Development Team
        <ul>
            <li>Kaushal Kumar B24487</li>
            <li>Arpit Mishra B24235</li>
        </ul>
    </section>
</body>
</html>
